
body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 40%;
}

.container h1 {
    font-size: 24px;
}

.container p {
    font-size: 16px;
}

.container label {
    display: block;
    margin-top: 10px;
    /* text-align: left; */
}

.container input[type="text"],
.container input[type="password"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* margin-left: 20px; */
}

.container button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}
